@page
@model ProductsRazorPages.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Página inicial de la aplicación</title>
</head>
<body>
    <h1>Página inicial de la aplicación</h1>
    <br />
    <a asp-page="/Product/Index">Product List</a>
</body>
</html>
